[Unit]
Description=[csdod]An command performer
After=syslog.target
After=network.target

[Service]
StandardOutput=journal+console
StandardError=journal+console
Type=forking
User=root
Group=root
ExecStart=/usr/sbin/csdod
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
